header {
    background-color: rgb(119, 168, 168);
}
.good {}


body {
    background-color: burlywood;
}

#gallery {
    display: flex;
}

#spiderman,
#spiderwoman,
#spiderforest,#missing {
    width: 45%;
}

#spiderman img,
#spiderwoman img,
#spiderforest img,#missing div {
    width: 100%;
    height: auto;
}
#missing {background-color: cornflowerblue;}
#olmo {text-align: center;
    font-size: 50px;
    margin-top: 30px;
}

img {
    max-width: 100%;
}

* {
    padding: 0%;
    ,
    margin: 0%;
}

header {
    margin-bottom: 80px;
}
#gallery {margin-bottom: 80px;
margin-right: 25px;
margin-left: 25px;}
.good { popadding-top: 25px;
padding-bottom: 20px;
color: aliceblue;
text-align: center;
text-size-adjust: 300px}
.aswell {text-align: center;
position: relative;}
#abebe{
position: fixed;}