body{
    
    background-color: purple;
    color: white;
}
.input-container{ 
   background-color: rgb(2, 2, 73);
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
   padding: 10px;
   margin: 150px 500px;
   border-radius: 30px;
   box-shadow: inset 0 0 20px black;

}
.input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(2, 2, 73);
    color: white;
}
button:hover{
    background-color: white;
    color: rgb(2, 2, 73);
    cursor: pointer;
}
#em{
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
}